nav{
    margin: 27px auto 0;

    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}
h5{
    margin-left: 20px;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav a:hover{
    color: aliceblue;
    background-color: #3a6060;
}

nav.animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
    background-color: #1abc9c;
}
a:nth-child(1){
    width: 33.3333%;
    border-radius: 8px;

}
a:nth-child(2){
    width: 33.3333%;
    border-radius: 8px;
    

}
a:nth-child(3){
    width: 33.3334%;
    border-radius: 8px;

}

nav .start-home, a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation{
    width: 100px;
    left: 210px;
    background-color: #3498db;
}
nav .start-porteefolio, a:nth-child(5):hover~.animation{
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation{
    width: 120px;
    left: 470px;
    background-color: #367e22;
}
body{
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}
span{
    color: #2bd6b4;
}
.btn-primary{
    margin-left: 50px;
    background-color: #34495e;
    border: none;
}
.card{
    background-color: #34495e;
    margin-left: 5%;
    margin-bottom: 15px;
    width: 90%;
    color: lightgray;
    font-size: 15px;
}
.circle{
    width: 40%;
    margin-left: 30%;
    height: auto;
    margin-top: 30px;
    border-radius: 100%;
    border: #34495e;
    border-style: solid;
    border-width: 10px;
}
.Source{
    margin-left: 10px;
    font-size: 20px;
    color: lightgrey;
}